.home {
  color: thistle;
}

.home-header {
  font-size: 1.9rem;
  margin-top: 12px;
  margin-left: 24px;
}

.text-wrapper {
  width: 100%;
  margin-top: 24px;
  padding: 24px;
  gap: 24px;
}

.text-wrapper p {
  font-size: 1.1rem;
  padding: 12px;
}
